pre {
  background-color: var(--color-bg-base);
  display: block;
  padding: 1rem;
  border-radius: 4px;
  overflow-x: auto;
  margin-top: 0px;
  margin-bottom: 2.5rem;
  font-size: 0.9em;
  border: 1px solid var(--color-border-dim);
}

code, kbd, samp {
  font-size: 0.88em;
  padding: 0 0.4rem;
  background-color: var(--color-bg-base);
  white-space: pre-wrap;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-border-dim);
}

kbd {
  margin: 0.1rem;
  background-color: var(--color-text-base);
  color: var(--color-bg-base);
  border-color: var(--color-text-heading);
  border-bottom-width: 3px;
  vertical-align: top;
  text-shadow: 0 1px 2px var(--color-text-heading);
  box-shadow: 0 1px 2px 0 hsl(from var(--color-text-base) h s l / 0.8);
}


pre > code {
  padding: 0;
  background-color: transparent;
  white-space: pre;
  font-size: 1em;
}