table {
  text-align: justify;
  width: 100%;
  border-collapse: collapse;
}

tr:nth-child(2n) {
  background-color: color-mix(in srgb, var(--color-bg-page), var(--color-text-heading) 4%);
}

td, th {
  padding: 0.5em;
  border-bottom: 1px solid color-mix(in srgb, var(--color-bg-page), var(--color-text-heading) 4%);
}

th {
  border-color: color-mix(in srgb, var(--color-bg-page), var(--color-text-heading) 5%);
}

thead {
  th {
    border-width: 2px;
  }
}